---
import { Icon } from 'astro-icon/components';
import logo from "~/assets/logo/ib2blogo.png"
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div
    class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-amber-300 intersect-once intersect-quarter intercept-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
  >
  <div class="flex flex-col md:flex-row gap-8 mb-12">

    <!-- Kolumna dane kontaktowe -->
    <div class="md:w-1/2 space-y-3">
      <a href={getHomePermalink()}><img src={logo.src} alt="IntegracjaB2B" class="w-40 mb-4" /></a>

      <p class="text-sm">
        <strong>IntegracjaB2B Sp. z o.o.</strong><br />
        ul.&nbsp;Warszawska&nbsp;26<br />
        05-510&nbsp;Konstancin-Jeziorna
      </p>

      <p class="text-sm">
        tel.: <a href="tel:+48790466446" class="underline hover:text-primary">+48&nbsp;790&nbsp;466&nbsp;446</a><br />
        e-mail:&nbsp;<a href="mailto:radek.polak@ib2b.pl" class="underline hover:text-primary">radek.polak@ib2b.pl</a>
      </p>

      <!-- link do polityki prywatności z istniejącej tablicy secondaryLinks -->
      {
        secondaryLinks?.length && (
          <div class="text-sm">
            {secondaryLinks.map(({ text, href }, idx) => (
              <>
                {idx ? ' · ' : ''}
                <a href={href} class="underline hover:text-primary">{text}</a>
              </>
            ))}
          </div>
        )
      }
    </div>

    <!-- Kolumna mapa -->
    <div class="md:w-1/2">
      <iframe
        title="Mapa dojazdu"
        loading="lazy"
        class="w-full h-64 md:h-56 lg:h-64 rounded-lg shadow-inner"
        style="border:0"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2447.122396760787!2d21.104623115801304!3d52.07959507974019!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47192f08f25c5f3b%3A0x1dfe1f7d77c4f2d8!2sWarszawska%2026%2C%2005-510%20Konstancin-Jeziorna!5e0!3m2!1spl!2spl!4v1717948800000!5m2!1spl!2spl"
        allowfullscreen>
      </iframe>
    </div>
  </div>  

  </div>
</footer>
