---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Contact from '~/components/widgets/Contact';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';

const metadata = {
  title: 'IntegracjaB2B — ZARABIAJ KIEDY INNI TYLKO ŁADUJĄ',
  description: "Przydomowe instalacje fotowoltaiczne z inteligentnym magazynem energii. 6 lat doświadczenia, 3000 kW wykonanych instalacji, lokalny serwis Konstancin-Jeziorna / Warszawa.",
  canonical: "https://mazowieckieoze.pl/",
  keywords: [
    'fotowoltaika',
    'magazyn energii',
    'integracjaB2B',
    'Mój Prąd 2025',
    'instalacja PV',
    'Konstancin-Jeziorna',
    'Warszawa'
  ],
  lang: "pl",
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Wypełnij formularz i sprawdź ofertę!',
        href: '#form',
      }
    ]}
  >
    <Fragment slot="title">
      Przydomow<span class="text-amber-400">E</span> instalacj<span class="text-amber-400">E</span> fotowoltaiczn<span class="text-amber-400">E</span> z inteligentnym Magazynem energii

    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        ZARABIAJ KIEDY INNI TYLKO ŁADUJĄ</span
      >
    </Fragment>
  </Hero>

  <Stats
  stats={[
    { title: 'Lat dowiadczenia', amount: '6' },
    { title: 'Serwis', amount: 'Lokalny' },
    { title: 'Wykonanych instalacji', amount: '3000kW' },
    { title: 'Rozwiązania', amount: 'Smart' }
  ]}
/>

  <Contact client:load/>

  <FAQs
    title="Często zadawane pytania"
    subtitle="Najczęściej zadawane pytania na temat fotowoltaiki i magazynów energii – rozwiewamy Twoje wątpliwości!"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Jakie są korzyści z montażu inteligentnego magazynu energii razem z instalacją fotowoltaiczną?',
        description:
          `Inteligentny magazyn energii pozwala gromadzić nadwyżki wyprodukowanej energii, które można wykorzystać wtedy, gdy instalacja PV nie produkuje prądu (np. wieczorem lub w nocy).  Ponadto magazyn ma moduł GSM  "Integracja Inteligence", który jest połączony z aplikacją. Magazyn potrafi: <br> - Sam dokupować energię kiedy jest najtańsza a instalacja nie zdążyła go naładować np. w zimie <br> - Śledzić prognozy pogody i godzinowe ceny energii i może sprzedawać nadwyżki produkcji  z instalacji PV <br> - zarządzać energią zgodnie ze zużyciem w Twoim gospodarstwie <br>Dzięki temu zwiększasz niezależność energetyczną,  zerujesz rachunki, zabezpieczasz się na wypadek przerw w dostawie prądu oraz zarabiasz na nadwyżkach produkcji.`,
      },
      {
        title: 'Czy mogę dołożyć magazyn energii do istniejącej instalacji fotowoltaicznej?',
        description:
          'Tak! Większość nowoczesnych magazynów energii można bez problemu zintegrować z już działającą instalacją PV. Najlepiej skonsultować się z naszym doradcą – sprawdzimy kompatybilność i przygotujemy indywidualną ofertę dostosowaną do Twojego systemu.',
      },
      {
        title: 'Jakie są aktualne możliwości dofinansowania do fotowoltaiki i magazynów energii w 2025 roku?',
        description:
          "W 2025 roku nadal działa program „Mój Prąd”, który obejmuje dofinansowania zarówno na instalacje fotowoltaiczne, jak i na inteligentne magazyny energii. Można uzyskać nawet do  16 000zł  na zakup i montaż magazynu energii oraz 7 000zł na instalację PV. Razem 23 000zł. Nasi eksperci pomagają w kompletowaniu dokumentów i składaniu wniosku o dofinansowanie.",
      },
      {
        title: "Czy fotowoltaika z magazynem energii opłaca się w obecnych warunkach?",
        description:
          "Tak, inwestycja w fotowoltaikę z inteligentnym magazynem energii to sposób na większą niezależność od rosnących cen prądu i zmieniających się przepisów. Magazyn pozwala w pełni wykorzystać wyprodukowaną energię i zabezpieczyć się na wypadek przerw w dostawie. Dodatkowo, korzystając z programów wsparcia, zwrot z inwestycji może być jeszcze szybszy.",
      },

    ]}
  />



</Layout>
